# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*

# Logs
*.log

# OS
.DS_Store
Thumbs.db